.card {
  max-width: 75%;
  max-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  padding: 1rem;
}

img {
  max-width: inherit;
  max-height: inherit;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  font-size: 0.5rem;
}

.explanation {
  line-height: 2rem;
  opacity: 0.8;
}
